{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- ICON -->
<section class="icon-section">
  <div class="container">
    <div class="icon-row">

      <div class="icon-item">
        <img src="{% static 'assets/images/Icon_banner_01.png' %}" alt="">
      </div>

      <div class="icon-item">
        <img src="{% static 'assets/images/Icon_banner_02.png' %}" alt="">
      </div>

      <div class="icon-item">
        <img src="{% static 'assets/images/Icon_banner_03.png' %}" alt="">
      </div>

      <div class="icon-item">
        <img src="{% static 'assets/images/Icon_banner_04.png' %}" alt="">
      </div>

      <div class="icon-item">
        <img src="{% static 'assets/images/Icon_banner_05.png' %}" alt="">
      </div>

      <div class="icon-item">
        <img src="{% static 'assets/images/Icon_banner_06.png' %}" alt="">
      </div>

    </div>
  </div>
</section>



<!-- PRODUCTS -->
 <section class="loan-section">
 <div class="container">


    <div class="section-head">
      <h2>CÁC SẢN PHẨM VAY</h2>
    </div>

    <!-- DÒNG 1: TÍN CHẤP (CÓ SLIDE) -->
    <div class="slider-wrapper auto-slide">
      <div class="slider-track">

        <a href="/vay-theo-luong/" class="loan-item">
  <div class="loan-img">
    <img src="{% static 'assets/images/sp1.jpg' %}">
  </div>
  <p>Vay tín chấp theo lương</p>
</a>

        <a href="/vay-theo-cccd/" class="loan-item">
  <div class="loan-img">
    <img src="{% static 'assets/images/sp2.jpg' %}">
  </div>
  <p>Vay theo Căn cước công dân</p>
</a>

        <a href="/vay-theo-lich-su/" class="loan-item">
  <div class="loan-img">
    <img src="{% static 'assets/images/sp3.jpg' %}">
  </div>
  <p>Vay theo Lịch sử tín dụng</p>
</a>

        <a href="/vay-ho-kinh-doanh/" class="loan-item">
  <div class="loan-img">
    <img src="{% static 'assets/images/sp4.jpg' %}">
  </div>
  <p>Vay theo hộ tự kinh doanh</p>
</a>

        <a href="/vay-theo-xe/" class="loan-item">
  <div class="loan-img">
    <img src="{% static 'assets/images/sp5.jpg' %}">
  </div>
  <p>Vay theo đăng ký xe máy</p>
</a>

        <a href="/vay-bao-hiem/" class="loan-item">
  <div class="loan-img">
    <img src="{% static 'assets/images/sp6.jpg' %}">
  </div>
  <p>Vay theo hợp đồng bảo hiểm</p>
</a>

        <a href="/vay-mua-nha/" class="loan-item">
  <div class="loan-img">
    <img src="{% static 'assets/images/sp7.jpg' %}">
  </div>
  <p>Vay mua trả góp Nhà</p>
</a>

        <a href="/vay-mua-oto/" class="loan-item">
  <div class="loan-img">
    <img src="{% static 'assets/images/sp8.jpg' %}">
  </div>
  <p>Vay mua trả góp Ô tô</p>
</a>

        <a href="/vay-mua-xe-may/" class="loan-item">
  <div class="loan-img">
    <img src="{% static 'assets/images/sp9.jpg' %}">
  </div>
  <p>Vay mua trả góp Xe máy</p>
</a>

        <a href="/vay-mua-dien-thoai/" class="loan-item">
  <div class="loan-img">
    <img src="{% static 'assets/images/sp10.jpg' %}">
  </div>
  <p>Vay mua trả góp Điện thoại</p>
</a>    

      </div>
    </div>

    <!-- DÒNG 2: THẾ CHẤP + THẺ (KHÔNG SLIDE PC) -->
    <div class="slider-wrapper no-slide">
      <div class="slider-track">

        <a href="/the-chap-nha/" class="loan-item">
  <div class="loan-img">
    <img src="{% static 'assets/images/sp12.jpg' %}">
  </div>
  <p>Vay thế chấp Nhà</p>
</a>

        <a href="/the-chap-oto/" class="loan-item">
  <div class="loan-img">
    <img src="{% static 'assets/images/sp13.jpg' %}">
  </div>
  <p>Vay thế chấp Ô tô</p>
</a>

        <a href="/the-tin-dung/" class="loan-item">
  <div class="loan-img">
    <img src="{% static 'assets/images/sp11.jpg' %}">
  </div>
  <p>Thẻ tín dụng tiền mặt</p>
</a>

        <a href="/the-chap-xe-may/" class="loan-item">
  <div class="loan-img">
    <img src="{% static 'assets/images/sp14.jpg' %}">
  </div>
  <p>Vay thế chấp Xe máy</p>
</a>

        <a href="/the-ngan-hang/" class="loan-item">
  <div class="loan-img">
    <img src="{% static 'assets/images/sp15.jpg' %}">
  </div>
  <p>Thẻ ngân hàng</p>
</a>

      </div>
    </div>

  </div>
</section>

<!-- BANK -->
<section>
  <div class="container">
    <h2 class="bank-title">Hỗ trợ hồ sơ tại hơn 10+ tổ chức tài chính</h2>
    <div class="banks">

      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-01-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-02-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-03-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-04-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-05-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-06-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-07-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-08-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-09-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-10-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-11-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-12-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-13-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-14-648x364.png' %}"></div> 
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-15-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-16-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-17-648x364.png' %}"></div>
      <div class="bank-item"><img src="{% static 'assets/images/icon-bank-18-648x364.png' %}"></div>
    </div>
  </div>
</section>


<section class="loan-info-wrap">
<div class="container">
  <div class="loan-info">
    <div class="info-box">
      <h3><b>Thông tin sản phẩm ước tính*:</b></h3>

      <ul>
        <li>Gói vay từ <b>20 – 500 triệu đồng</b></li>
        <li>Thời gian vay <b>6 – 36 tháng</b></li>
        <li>Lãi suất phẳng (tham chiếu) <b>35.4%/năm</b></li>
        <li>Kết quả ước tính dựa trên lãi suất phẳng (tham chiếu) <b>16,44%/năm</b>, có thể chênh lệch nhỏ so với thực tế</li>
      </ul>

      <p><b>Ví dụ:</b> Vay <b>20.000.000đ</b> trong <b>18 tháng</b>, tổng số tiền thanh toán khoảng <b>25.110.000đ</b> (đã bao gồm các loại phí, trừ phí bảo hiểm & phí chuyển tiền).</p>

      <p>TàiChínhHàNội không thu bất kỳ khoản phí nào cho đến khi khoản vay được giải ngân.</p>

      <p class="note"><i>Quyết định phê duyệt thường trong vòng 1 giờ. Với khoản vay lớn hơn, thời gian có thể lâu hơn nhưng thường hoàn tất trong vòng 8 giờ làm việc.</i></p>
    </div>
    </div>
  </div>
</section>


<!-- STEPS -->
<section class="steps">
  <div class="container">

    <h2>Quy trình vay vốn</h2>

    <div class="grid">
      <img src="{% static 'assets/images/step-1.png' %}">
      <img src="{% static 'assets/images/step-2.png' %}">
      <img src="{% static 'assets/images/step-3.png' %}">
      <img src="{% static 'assets/images/step-4.png' %}">
    </div>
  </div>
</section>

{% endblock %}